<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Accuracy Score</th>
      <th>F1-Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Logistic Regression</th>
      <td>0.805317</td>
      <td>0.879253</td>
    </tr>
    <tr>
      <th>Logistic Regression with Hyperparameter Tuning</th>
      <td>0.800860</td>
      <td>0.876712</td>
    </tr>
    <tr>
      <th>Support Vector Classifier (SVC)</th>
      <td>0.820990</td>
      <td>0.889332</td>
    </tr>
    <tr>
      <th>Support Vector Classifier (SVC) with Hyperparameter Tuning</th>
      <td>0.822526</td>
      <td>0.890718</td>
    </tr>
    <tr>
      <th>Random Forest Classifier</th>
      <td>0.820529</td>
      <td>0.884767</td>
    </tr>
    <tr>
      <th>Random Forest Classifier with Hyperparameter Tuning</th>
      <td>0.838967</td>
      <td>0.897516</td>
    </tr>
    <tr>
      <th>XGBoost Classifier</th>
      <td>0.842502</td>
      <td>0.899124</td>
    </tr>
    <tr>
      <th>XGBoost Classifier with Hyperparameter Tuning</th>
      <td>0.842655</td>
      <td>0.899371</td>
    </tr>
  </tbody>
</table>